* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1e0a5f;
    color: white;
}


header {
    background-color: #1e0a5f;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


#toggleMenu {
    position: absolute;
    left: 20px;
    font-size: 30px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}


#toggleMenu::before {
    content: '⋮';
    font-size: 30px;
    color: white;
}


#menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #1e0a5f;
    color: white;
    transition: left 0.3s ease;
    padding-top: 50px;
    z-index: 1000;
}


#menu.active {
    left: 0;
}


#closeMenu {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

#menu .menu-content {
    padding: 20px;
}

#menu .menu-content a {
    display: block;
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

#menu .menu-content a:hover {
    background-color: #555;
    text-decoration: underline;
}



header {
    background-color: #1e0a5f;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
}

header h1 {
    color: white;
    font-size: 48px;
    width: 45%;
    font-size: 48px;
    margin-top: 20px;
    margin-right: 170px;

}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

#sobre {
    background-color: #1e0a5f;
    padding: 60px 0;
    text-align: center;
}

#sobre h2 {
    font-size: 36px;
}

#sobre p {
    font-size: 18px;
    margin-top: 20px;
}

#projetos {
    background-color: #0a075d;
    padding: 60px 0;
}

#projetos h2 {
    font-size: 36px;
    text-align: center;
}


.projetos-grid {
    display: block;
    margin-top: 40px;
    padding: 0 20px;
}


.projeto {
    background-color: #1e0a5f;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;
}

.projeto img {
    width: auto;
    height: auto;
    max-width: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

.projeto h3 {
    margin-top: 20px;
    font-size: 24px;
}

.projeto p {
    margin: 10px 0;
    font-size: 16px;
}

.projeto a {
    color: #1e0a5f;
    text-decoration: none;
    font-weight: bold;
}

.projeto a:hover {
    text-decoration: underline;
}

#contato {
    background-color: #1e0a5f;
    padding: 60px 0;
    text-align: center;
}

#contato h2 {
    font-size: 36px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

form input,
form textarea {
    width: 80%;
    max-width: 600px;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

form button {
    background-color: #0a075d;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

form button:hover {
    background-color: #1e0a5f;
}

.contato-icones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.contato-icones .icone {
    margin: 0 20px;
    text-align: center;
}

.contato-icones img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease-in-out;
}

.contato-icones a {
    display: block;
}

.contato-icones img:hover {
    transform: scale(1.2);
}

footer {
    background-color: #0a075d;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

#contato {
    padding: 40px 0;
    background-color: #1e0a5f;
}

.contato-info {
    margin-top: 30px;
    text-align: center;
}

.contato-info p {
    font-size: 18px;
    color: #fff;
    margin: 10px 0;
}

.contato-info strong {
    font-weight: bold;
    color: #007BFF;
}


@media (max-width: 768px) {

    header {
        padding: 15px 0;
        justify-content: center;
    }

    header h1 {
        font-size: 36px;
        margin-right: 0;
    }


    nav ul {
        padding-left: 0;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }


    .projeto {
        padding: 15px;
        margin-bottom: 15px;
    }

    .projeto h3 {
        font-size: 20px;
    }

    .projeto p {
        font-size: 14px;
    }

    form input,
    form textarea {
        width: 90%;
    }

    form button {
        font-size: 16px;
    }


    .contato-icones img {
        width: 35px;
        height: 35px;
    }
}


@media (max-width: 480px) {
    header h1 {
        font-size: 28px;
    }

    .projeto {
        padding: 10px;
    }

    .projeto h3 {
        font-size: 18px;
    }

    .projeto p {
        font-size: 12px;
    }

    form input,
    form textarea {
        width: 95%;
    }

    form button {
        padding: 8px 15px;
        font-size: 14px;
    }

    footer {
        padding: 15px;
    }
}
